
<%= simple_form_for list do |f| %>
  <%= f.input :name, label: 'Name' %>
  <div id='due_date'><%= f.input :due_date, label: 'Due Date',as: :string, type: :text %></div>
  <%= f.submit "Confirm" %>

<% end %>

