<div class="container" id="container-add-list">
    <h1>➕ Add new list</h1>
    <%= simple_form_for list do |f| %>
    <%= f.input :name, label: 'List name' %>
    <div id='due_date'><%= f.input :due_date, label: '🗓',as: :string, type: :text %></div>
    <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  <p>
   <a href="/lists/1"><br><u>Back</u></a>
  </p>
</div>

