
    <h1> Your shopping Lists </h1>
      <% @lists.each do |list| %>
      <ul>
        <li>
          <%= link_to "#{list.name}", list_path(list)%>
          <%= link_to "Update", edit_list_path(list) %>
        </li>
      </ul>
      <% end %>
      <%= link_to "New Shopping List", new_list_path %>





