 <div class="col">
  <h2>
  <%= @list.name %>
  <%= link_to "Edit #{@list.name}", new_list_path,
  data: { confirm: "updated" } %>
  <%= link_to "Delete #{@list.name}", lists_path,method: :delete,
  data: { confirm: "Are you sure?" } %>
   <%= link_to "Back", lists_path %>
</h2>
</div>
