// Brand Colours

// Elements
$background: #fffffe;
$headline: #272343;
$paragraph: #2d334a;
$button: #ffd803;
$button-text: #272343;

// Illustration
$stroke: #272343;
$main: #fffffe;
$highlight: #ffd803;
$secondary: #e3f6f5;
$tertiary: #bae8e8;

// Bootstrap, do not remove
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

