// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Poppins - Light 300, Regular 400 and Bold 700
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

@font-face {
  font-family: "Oliver Notes";
  src: font-url('Oliver-Notes.ttf');
}


$title-heading-font: "Oliver Notes";
$main-text: 'Poppins', sans-serif;


html {
  font-size: 10px;
}
