body {
  height: 50%;
  background: white;
  font-family: Boing;
  min-height: 80vh;
  overflow-x: hidden;
  z-index: 1;
  position: relative;
}

h1 {
  font-family: Boing;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #393939
}

p {
  font-family: Boing;
}

.about-card {
  line-height: 40px;
  font-size: 36px;
  font-family: Boing;
  font-weight: 500;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 80px;
  border-radius: 25px;
  width: 800px;
  margin-left: 0px;
  margin-right: 12px;
  background: rgb(250, 248, 247);
  padding: 36px;
}

img {
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: centre;
  flex-shrink: 1;
  -webkit-box-flex: 3;
  flex-grow: 3;
  width: 140%;
}

.btn-block {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-about {
  flex-shrink: 1;
  margin-top: 8px;
  color: black;
  font-family: Boing;
  font-size: 32px;
  line-height: 24px;
}
