body {
  background: white;
  font-family: Boing;
  min-height: 80vh;
  overflow-x: hidden;
  // z-index: 1;
  // position: relative;
}

h1 {
  font-family: Boing;
  font-size: 16px;
  font-weight: bold;
  color: #393939
}

h2 {
  text-align: center;
}

p {
  font-family: Boing;
}

.about-card {
  line-height: 20px;
  font-size: 16px;
  font-family: Boing;
  font-weight: 500;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 8px;
  border-radius: 16px;
  width: 340px;
  margin-left: 0px;
  margin-right: 5px;
  background: rgb(250, 248, 247);
  padding: 10px;
}

img {
  padding-top: 0px;
  padding-bottom: 4px;
  justify-content: centre;
  flex-shrink: 1;
  -webkit-box-flex: 3;
  flex-grow: 3;
  width: 140%;
}

.btn-block {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-about {
  flex-shrink: 1;
  margin-top: 8px;
  color: black;
  font-family: Boing;
  font-size: 16px;
  line-height: 24px;
}
