// Specific CSS for your home-page
.container-homepage {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $background;
}

.container-logo {
  @include flex-center-x-and-y;
  height: 415%;
}

.container-login {
  @include flex-center-x-and-y;
  flex-direction: column;
  height: 300px;
  // Z-index require to keep on top of wave background
  z-index: 1;

  .login-input {
    height: 50px;
    width: 300px;
    font-size: 1.5rem;
    text-align: left;
    margin: 16px 0;
    outline: none;
    border-radius: 16px;
    @include std-box-shadow;
    border: none;
    padding-left: 32px;
  }
}

.container-form {
  @include flex-center-x-and-y;
  flex-direction: column;
  width: 80%;
  height: 60%;
}

.custom-shape-divider-top-1613864219 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1613864219 svg {
  position: relative;
  display: block;
  width: calc(180% + 1.7px);
  height: 50vh;
}

.custom-shape-divider-top-1613864219 .shape-fill {
  fill: url(#MyGradient);
}

.container-homepage-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container-homepage-links a {
  font-size: 2.5rem;
  color: $paragraph;
}
