.container-item-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tertiary;
}

#container-item {
  display: flex;
  flex-direction: column;
  height: 50vh;
  @include std-box-shadow;
  padding: 8px 40px;
  margin: 16px;
  border-radius: 16px;
  background-color: $background;
}

#item-name {
  background-color: $secondary;
  color: $paragraph;
  width: 60%;
  margin: 24px auto;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
}

#item-category {
  display: none;
}

#map {
  height: 45vh;
  margin: 0;
  width: 100%;
}

#footer-item {
  position: absolute;
  bottom: 0;
  height: 5vh;
  background-color: $secondary;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .back {
    color: $stroke;
    position: absolute;
    left: 0;
    height: 100%;
    padding: 8px;
    margin-left: 8px;
  }

  i {
    font-size: 3.5rem;
    color: $stroke;
  }
}

.nearby-stores {
  padding-top: 24px;
  font-size: 1.5rem;
}

.store-name {
  @include std-box-shadow;
  padding: 32px;
  border-radius: 16px;
}

.container-item-edit-actions {
  display: flex;
  justify-content: center;
  font-size: 2rem;

  i {
    padding: 0 16px;
  }
}