.container-item-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tertiary;
  width: 330px;
  margin: 20px;
}

#container-item {
  display: flex;
  flex-direction: column;
  height: 50vh;
  @include std-box-shadow;
  margin: 16px;
  border-radius: 16px;
  background-color: $background;
  padding: 10px;
}
.items{
  padding:1px;
}

#item-name {
  background-color: $secondary;
  color: $paragraph;
  width: 60%;
  margin: 20px auto;
  border-radius: 16px;
  padding: 8px;
  text-align: center;
  font-size: 2.5rem;
}

#item-category {
  display: none;
  padding: -1px;
}

#map {
  height: 45vh;
  margin: 0;
  width: 100%;
}

#footer-item {
  position: absolute;
  bottom: 0;
  height: 5vh;
  background-color: $secondary;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .back {
    color: $stroke;
    position: absolute;
    left: 0;
    height: 100%;
    padding: 8px;
    margin-left: 8px;
  }

  i {
    font-size: 3.5rem;
    color: $stroke;
  }
}

.nearby-stores {
  padding-top: 12px;
  font-size: 1rem;
}

.store-name {
  @include std-box-shadow;
  padding: 24px;
  display: block;
  border-radius: 16px;
  color: inherit;
}

.open-icon {
  margin-right: 16px;
}

.container-item-edit-actions {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;

  i {
    padding: 0 16px;
  }
}

.bg-tertiary {
  background-color: #bae8e8;
}

