// .container-login {
//   text-align: center;
//   -webkit-box-align: center;
//   align-items: center;
//   width: 700px;
//   min-width: 300px;
//   max-width: 1380px;
//   border: 100px;
//   border-radius: 25px;
//   padding: 20px 80px;
//   padding-bottom: 20px;
//   margin: 50px;
//   margin-top: 200px;
//   margin-bottom: 24px;
//   margin-left: 140px;
//   margin-right: 140px;
//   background-color: #fffffe;
//   height: 30%;
//   line-height: 40px;
// }

.container-signup {
  border-radius: 20px;
  width: 345px;
  min-width: 300px;
  max-width: 375px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 20px;
  background-color: #fffffe;
  font-size: 6px;
}

.container-password {
  width: 300px;
  min-width: 300px;
  max-width: 375px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 0px;
}

input[type="email"] {
  font-family: $main-text;
}