<div class="navbar navbar-expand navbar-light navbar-lewagon d-flex justify-content-between">
<div>
  <% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, class: "avatar-large", alt: "avatar-large" %>
  <% else  %>
  <%= image_tag 'https://giantbomb1.cbsistatic.com/uploads/original/9/99864/2419866-nes_console_set.png', width: 150, height: 150 %>
  <% end %>
</div>

  <div class="list-unstyled" >
   <li> <%= link_to "Your lists", list_path(current_user.lists.first) %></li>
   <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </div>
</div>




