<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="dropdown">
  <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

<%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>

  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <%= link_to "Your lists", list_path(current_user.lists.first),class: "dropdown-item" %>

  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</div>
</div>
