<div class="navbar navbar-expand navbar-light navbar-lewagon d-flex justify-content-center">
  <div class="dropdown">

  <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

<%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face), class: "avatar-large", alt: "avatar-large" %>

  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <%= link_to "Your lists", list_path(current_user.lists.first),class: "dropdown-item" %>

  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</div>
</div>



style="background-image: url('<%= cl_image_path monster.photo.key, height: 300, width: 400, crop: :fit %>')">
        <!-- End of Card -->
