<div class="navbar navbar-expand navbar-light navbar-lewagon d-flex justify-content-center">
  <div class="dropdown">

  <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

<%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face), class: "avatar-large", alt: "avatar-large" %>

  </button>


  <div class="list-unstyled" >
   <li> <%= link_to "Your lists", list_path(current_user.lists.first), class: "text-dark" %></li>
   <li> <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-dark" %></li>

  </div>
</div>
</div>



