<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="about-card">
        <p>
          What is Tsuchi?
        </p>
        <h1>
          <mark>An easy way</mark> to manage your <mark>shopping lists</mark> <br>
          and <mark>find</mark> what you're looking for.
        </h1>
        <p>
          Tsuchi is the easy-to-use shopping list app which lets you create personalised lists & prompts you when you're near a store that matches.<br>
          You'll never have to forget to buy something again!
        </p>
      </div>
        <img src="/assets/about-pg.jpg" id="maps">
      <div class="btn-block">
        <p>
          Start your better shopping experience now!
        </p>
        <p>
          <a class="btn-about" href="/users/sign_up">Sign up</a>
          <a class="btn-about" href="/">Back</a>
        </p>
      </div>
    </div>
  </div>
</div>
