<%= render "navbar" %>
 <div class="d-flex justify-content-center m-2">
     <div class="d-flex flex-column align-items-center">
        <h1 class="mb-0" > Hello <%= current_user.first_name %> </h1>
        </div>
</div>
<div class="p-4 bg-tertiary ">
    <p class ="font-weight-bold">Your Details</p>
    <%= render 'form_edit_dashboard' %>
</div>



