<%= render "navbar" %>
 <div class="d-flex justify-content-center m-2">
     <div class="d-flex flex-column align-items-center">


        <h1> Hello <%=current_user.first_name%> </h1>
        </div>
  </div>

<div class="container-fluid dashboard-container py-5">
  <div class="row">

 <div class="col-md-5">
  <div class="card p-4">
    <div class="d-flex justify-content-between align-items-center">
    <h1 class ="text-center">Your Details</h1>
        <%= render 'form_edit_dashboard' %>
    </div>
  </div>
 </div>


