<main class="container-homepage">

  <!-- Wave background -->
  <%= render 'components/wave-background' %>

  <div class="container-logo">
    <!-- Placeholder Logo -->
    <%= render 'components/logo' %>
  </div>

  <div class="container-heading-main">
    <h1 id="heading-main">Tsuchi</h1>
    <p id="heading-quote">Receive a ping when you forget your thing</p>
    <button id="pingers">Ping Me</button>
  </div>

  <div class="container-login">

    <%= render 'shared/login' %>

    <!--
      Links appear below the login form
      'Sign up' re-directs to users homepage, showing their lists
      'Learn more' scrolls the page down to give information about the app
    -->
    <div class="container-homepage-links">
      <a href="#" class="homepage-link">Sign up</a>
      <a href="/pages/about" class="homepage-link">Learn about Tsuchi</a>
    </div>
  </div>
</main>
