<main class="container-homepage">

  <!-- Wave background -->
  <%= render 'components/wave-background' %>

  <div class="container-logo">
    <!-- Placeholder Logo -->
    <%= render 'components/logo' %>
  </div>

  <div class="container-heading-main">
    <h1 id="heading-main">Tsuchi</h1>
    <p id="heading-quote">Receive a ping when you forget your thing</p>
  </div>

  <div class="container-login">
    <!-- 
      This form should be replaced with devise login 
      Keep class and ID's to apply styling
    -->
    <form action="" class="container-form">  
      <input id="email" class="login-input" type="text" placeholder="Email">
      <input id="password" class="login-input" type="password" placeholder="Password">
      <input id="btn-login" class="btn" type="submit" value="Login">
    </form>
    <!-- 
      Links appear below the login form 
      'Sign up' re-directs to users homepage, showing their lists
      'Learn more' scrolls the page down to give information about the app
    -->
    <div class="container-homepage-links">
      <a href="#" class="homepage-link">Sign up</a>
      <a href="#" class="homepage-link">Learn more</a>
    </div>
  </div>
</main>