<main class="container-homepage">

  <div class="logo-tsuchi"></div>

  <!-- This form should be replaced with simple_form -->
    <form action="" class="d-flex flex-column">  
      <input id="username" class="login-input" type="text" placeholder="Username">
      <input id="password" class="login-input" type="password" placeholder="Password">
      <input id="btn-login" type="submit" value="Login">
    </form>

  <!-- 
    Sign up re-directs to users homepage, showing their lists
    Learn more scrolls the page down to give information about the app
  -->
  <a href="#">Sign up</a>
  <a href="#">Learn more</a>
</main>