<main class="container-homepage">

  <!-- Wave background -->
  <%= render 'components/wave-background' %>

  <div class="container-logo">
    <!-- Placeholder Logo -->
    <%= render 'components/logo' %>
  </div>

  <div class="container-heading-main">
    <h1 id="heading-main">Tsuchi</h1>
    <p id="heading-quote">Receive a ping when you forget your thing</p>
  </div>
  <div class="container-login">

    <%= render 'shared/login' %>

    <!--
      Links appear below the login form
      'Sign up' re-directs to users homepage, showing their lists
      'Learn more' scrolls the page down to give information about the app
    -->
   <h1><a href="/pages/about"><u>Learn about Tsuchi...</u></a></h1>
  </div>
</main>
