<main class="container-homepage">

  <div class="container-logo">
    <!-- Placeholder Div until we have a logo -->
    <div class="logo-tsuchi"></div>
  </div>

  <div class="container-login">
  <!-- 
    This form should be replaced with simple_form 
    Keep class and ID's to apply styling
  -->
    <form action="" class="container-form">  
      <input id="username" class="login-input" type="text" placeholder="Username">
      <input id="password" class="login-input" type="password" placeholder="Password">
      <input id="btn-login" class="btn" type="submit" value="Login">
    </form>
  </div>

  <!-- 
    'Sign up' re-directs to users homepage, showing their lists
    'Learn more' scrolls the page down to give information about the app
  -->
  <a href="#">Sign up</a>
  <a href="#">Learn more</a>
</main>