#btn-login {
  height: 40px;
  width: 150px;
  border-radius: 8px;
  font-size: 2rem;
  margin-top: 24px;
  background-color: $button;
  color: $button-text;
  font-weight: bold;
  @include std-box-shadow;
}

#btn-list{
  height: 60px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 24px;
  background-color: $button;
  color: $button-text;
  font-weight: bold;
  @include std-box-shadow;
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
}

.btn-share-buddy{
  height: 40px;
  width: 40px;
  border-radius: 150px;
  background-color: #1EDD88;
  color: $button-text;
  font-weight: bold;
  @include std-box-shadow;
  margin-left: auto;
}
