.homepage-btn {
  height: 30px;
  width: 100px;
  border-radius: 8px;
  font-size: 1.2rem;
  margin-top: 8px;
  font-weight: normal;
  @include std-box-shadow;
  font-family: $main-text;
}

#btn-login {
  background-color: $button;
  color: $button-text;
}

#btn-learn-more {
  background-color: $button-text;
  color: $button;
}

#btn-list{
  height: 60px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 24px;
  background-color: $button;
  color: $button-text;
  font-weight: bold;
  @include std-box-shadow;
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70px;
}

.btn-share-buddy{
  height: 40px;
  width: 40px;
  border-radius: 150px;
  background-color: #1EDD88;
  color: $button-text;
  font-weight: bold;
  @include std-box-shadow;
  margin-left: auto;
}

.list-link{
  margin-left: 8px;
  min-width: 70px;

  &.active{
    background-color: #f5c0c0 !important;
    height: 65px !important;
    width: 65px !important;
  }
}


.form-actions {
  width: 100px;
  font-weight: bold;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 24px;
  background-color: $button;
  color: $button-text;
  font-weight: bold;
  @include std-box-shadow;
}

.menu-activate-burger {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 3rem;
}

.btn-all-items {
  text-decoration: none;
  font-family: $main-text;
  background-color: $stroke;
  color: $tertiary;
  margin-left: 12px;
  padding: 4px 6px;
  border-radius: 4px;
}

