.navbar-lewagon {
  justify-content: space-between;
  background: white;
  button {
  background-color: transparent;
  border: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.list-unstyled{
  display:none;
}

.detail-form{
  padding: 0px 30px;

}
