// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-page{
  padding:9px;
}
.list{
  margin: 0;
  padding: 0% 2%;
}

.list-name{
  font-size:13px;
}
.row{
  overflow-x: scroll;
  margin-bottom: 10px;
}

.fa-plus{
  font-size: 30px;
  color: #00917c;
  margin:0;
  margin-right: 17px;
}

.fa-bell{
  font-size:2rem;
}

.container-list{
  display: flex;
  align-items: center;
}

.fa-home{
  font-size: 2rem;
}

.due-date{
  display: flex;
}

.list-link{
  &.active{
    background-color: #f48b29 !important;
  }
}
