// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 .horizontal-list {
      overflow-x: auto;
      // white-space: nowrap;
      // -webkit-overflow-scrolling: touch;

    }

    .item {
      /* 横スクロール用 */
      display: inline-block;
      width: 90%;

      /* 見た目調整 */
      // height: 400px;
      // margin: 16px;
      // font-size: 48px;
      // background: rgba(255, 0, 0, 0.4);
    }

